dist
__pycache__

*.pyc
*.gml
*.png
*.json
*.ipynb
*.zip
*.gz
*.rar
*.7z
*.csv
*.dot

!test_template.gml
!*/resources/*.json
*/resources/*graph.json

examples/ohProject
.idea
.xml

exp*
venv
.vscode*

output
.roo
.hvigor
.vscode
.DS_Store